body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('image/images (1).jfif');
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    border-radius: 10px;
    box-shadow: 8px 8px 5px black;
}
.center h1{
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(224, 20, 20);
}
.center hr{
    width: 60px;
    padding: 0;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt-field{
    position: relative;
    border-bottom: 2px solid #011827;
    margin: 35px 0;
}
.txt-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    color: rgb(235, 23, 23);
    border: none;
    background: none;
    outline: none;
}
.txt-field label{
    position: absolute;
    top: 50%;
    left: 40%;
    color: #010b13;
    transform: translate(-50%);
    font-size: 16px;
    pointer-events: none;
}
.txt-field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #f10e0e;
    transition: .5s;
}
.txt-field input:focus ~ label,
.txt-field input:valid ~ label{
    top: -15px;
    color: #fc0c0c;
}
.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #e71717;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid #10e268;
    background: transparent;
    border-radius: 25px;
    font-size: 18px;
    color: #010d14;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #df0a0a;
    transition: .5s;
}
.signup-linl{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #1b0101;
}
.signup-linl a{
    color: #420202;
    text-decoration: none;
}
.signup-linl:hover{
    text-decoration: underline;
}